[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "thirdparty/engine"]
	path = thirdparty/engine
	url = https://github.com/Turtwiggy/game_engine.git
